.add-container
{
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.add-container .box
{
    width: 840px;
    height: 730px;
    background-color: white;
}
.box .bottom
{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-bottom: 30px;
}
.box .middle
{
    display: block;
    width: calc(100% - 60px);
    height: 560px;
    margin-left: 30px;
}
.box .middle .name
{
    width: 550px;
    height: 40px;
    text-indent: 10px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.box .middle .description
{
    height: 100px;
    width: 780px;
    border-radius: 10px;
    font-family: sans-serif;
    text-indent: 10px;
    margin-bottom: 30px;
}
.box .middle .image
{
    width: 260px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: #E29BA3FF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.box .middle .line
{
    display: flex;
    gap: 160px;
    margin-bottom: 30px;
}
.box .middle .line .input
{
    height: 40px;
    width: 260px;
    border-radius: 10px;
    border: solid 1px black;
    text-indent: 10px;
}
.box .middle .line .input
{
    height: 40px;
    width: 260px;
    border-radius: 10px;
    border: solid 1px black;
    text-indent: 10px;
}
.box .middle .image:hover
{
    color: black;
    background-color: white;
}
.bottom.bottom-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

    .bottom.bottom-actions .button {
        width: 120px;
        height: 48px;
        font-size: 16px;
        background-color: #E29BA3FF;
        color: white;
        border-radius: 10px;
        border: solid 1px black;
        cursor: pointer;
        transition: background 0.2s, color 0.2s;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .bottom.bottom-actions .button:hover {
            background-color: white;
            color: #E29BA3FF;
            border: solid 1px #E29BA3FF;
        }

.line.line-brand-cat-subcat {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    align-items: flex-end;
}

.brand-block, .category-block, .subcategory-block {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.input.brand,
.input.category,
.input.subcategory {
    height: 40px;
    border-radius: 10px;
    border: solid 1px black;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.category-block button,
.subcategory-block button {
    margin-top: 5px;
    height: 32px;
    border-radius: 8px;
    background-color: #E29BA3FF;
    color: white;
    border: solid 1px black;
    cursor: pointer;
    font-size: 14px;
}

    .category-block button:hover,
    .subcategory-block button:hover {
        background-color: white;
        color: black;
    }
.input-block label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.input[multiple] {
    min-height: 100px;
    resize: vertical;
    padding: 8px;
}