.inventory
{
    flex-direction: column;
}
.inventory .box
{
    width: 1140px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 300px;
}
.inventory .box .header
{
    display: grid;
    grid-template-columns: 300px 150px 150px 150px 1fr;
    justify-content: center;
    align-items: center;
}
.inventory .box .list
{
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.inventory .box .list .data
{
    display: grid;
    grid-template-columns: 300px 150px 150px 150px 1fr;
    padding-left: 15px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.inventory .box .list .data .buttons
{
    display: flex;
    flex-direction: row;
}
.inventory .box .list .data .buttons .button
{
    width: 80px;
    height: 40px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inventory .box .list .data .buttons .button:hover
{
    width: 80px;
    height: 40px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.inventory .alert
{
    width: 1140px;
    height: 140px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.inventory .alert .header
{
    background-color: #FAFAFBFF;
    border: 1px solid black;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 3fr;
    padding-left: 10px;
}
.inventory .alert .header .title
{
    padding-left: 10px;
    border-left: solid 1px black;
    height: 100%;
    display: flex;
    align-items: center;
}
.inventory .alert .list
{
    padding-left: 10px;
    border: solid 1px black;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
    border-top: 0;
    width: calc(100% - 11px);
    display: block;
    overflow-y: scroll;
    height: calc(140px - (140px * ( 1 /3 )));
    font-size: 12px;
}
.inventory .alert .list .data
{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: calc(140px - (140px * ( 2 /3 )));
    align-items: center;
}
.inventory .alert .list .data .notice
{
    margin-left: 10px;
    height: 30px;
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 14px;
}