.overlay
{
    display: none;
}
.upload.active
{
    display: block;
    width: 450px;
    height: 420px;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
}
.upload .top
{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}
.submit_form_file
{
    border: solid white;
    border-radius: 0 0 20px 20px;
}
#drop-area
{
    border: 3px dashed #ccc;
    border-radius: 10px;
    width: 400px;
    height: 270px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0px auto;
    transition: background-color 0.3s ease;
}
#drop-area.highlight
{
    background-color: #f0f8ff;
}
#file-list
{
    margin: auto auto;
    font-size: 15px;
    color: #333;
}
.upload .bottom
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}
.bottom .button
{
    display: flex;
    width: 80px;
    height: 40px;
    font-size: 14px;
    background-color: #E29BA3FF;
    color: white;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    border: solid 1px black;
    cursor: pointer;
}
.bottom .button:hover
{
    background-color: white;
    color: black;
}
.transfer.active
{
    width: 510px;
    height: 630px;
    background-color: white;
    border-radius: 10px;
    display: block;
    border: solid 1px black;
}
.transfer .top
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.transfer .middle
{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.transfer .middle .direction
{
    width: 390px;
}
.transfer .middle .direction .campus
{
    height: 40px;
    width: 390px;
    border-radius: 10px;
    font-size: 16px;
    text-indent: 15px;
}
.transfer .middle .quantity
{
    width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 50px;
}
.middle .quantity .title
{
    height: 50px;
    width: 200px;
    text-indent: 15px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    background-color: #F3F4F6FF;
}
.middle .quantity .input
{
    width: 120px;
    height: 40px;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 16px;
    text-indent: 10px;
}
.transfer .middle .reason
{
    width: 390px;
}
.transfer .middle .reason .textarea
{
    width: 100%;
    height: 110px;
    font: 14px;
    border-radius: 10px;
    font-family: sans-serif;
}
.transfer .bottom
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}
.overlay.add.active
{
    width: 510px;
    height: 360px;
    background-color: white;
    display: block;
    border-radius: 10px;
    border: solid 1px black;
}
.overlay.add .top
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay.add .middle
{
    width:100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay.add .middle .quantity
{
    display: flex;
    width:390px;
    justify-content: space-between;
}
.overlay.add .bottom
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}
.overlay.delete.active
{
    display: block;
    width: 510px;
    height: 460px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
.overlay.delete .top
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.overlay.delete .middle
{
    width:100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}
.overlay.delete .bottom
{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}
