<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Elite{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_base.css') }}" />
    <script src="{{ url_for('static', filename='java/admin_base.js') }}"></script>
    <script>
    const API_URL = "{{ api_url }}";
    </script>
</head>
<body>
    <input type="checkbox" id="superstatus" {% if clearance == 3 %}checked{% endif %} style="display: none;">
    <div class="container">
        <div class="top">
            <div class="top-banner">
                <p class="banner-name" id="campus-name">{{campus}}</p>
                <div class="banner-name" id="banner-name">
                    Banner
                </div>
                <div class="banner-right">
                    {% include "searchbar.html" %}
                    <div class="banner-notification">
                        <img src="{{ url_for('static', filename='images/notification.png') }}" width="10px" height="10px" alt="Settings Logo">
                        <span style="margin-left: 10px">Notifications</span>
                    </div>
                    <div class="banner-setting">
                        <img src="{{ url_for('static', filename='images/setting.png') }}" width="10px" height="10px" alt="Settings Icon">
                        <span style="margin-left: 10px">Setting</span>
                    </div>
                    <img class="banner-profile" src="{{ url_for('static', filename='images/dummy.png') }}">
                </div>
            </div>
            <div class="top-filter-order" id="filter-order">
                <p style="font-size: 20px; font-weight: 700">Campus & Date Filter.</p>
                <div class="top-filter-order-selection">
                    <div class="top-filter-order-selection-campus">
                        <br>
                        <label for="campus"></label>
                            <select id="campus" class="top-filter-order-selection-campus-drop">
                                <option value="All">All Campus</option>
                                <option value="Wellington Campus">Wellington</option>
                                <option value="Hamilton Campus">Hamilton</option>
                                <option value="Auckland Campus">Auckland</option>
                            </select>
                    </div>
                    <div class="top-filter-order-selection-startdate">
                        <label for="startdate">Start Date</label>
                        <br>
                        <input type="date" id="startdate" name="date" class="date-picker">
                    </div>
                    <div class="top-filter-order-selection-enddate">
                        <label for="end-date">End Date</label>
                        <br>
                        <input type="date" id="enddate" name="end-date" class="date-picker">
                    </div>
                    <div>
                        <br>
                        <div class="top-filter-order-selection-submit" onclick="submitFilter()">
                        Submit
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-filter-search" id="filter-search">
                <div class="top-filter-search-first">
                    {% include "searchbar.html" %}
                    <label for="campus2"></label>
                            <select id="campus2" class="top-filter-search-first-list">
                                <option value="All">All Campus</option>
                                <option value="Wellington Campus">Wellington</option>
                                <option value="Hamilton Campus">Hamilton</option>
                                <option value="Auckland Campus">Auckland</option>
                            </select>
                </div>
                <div class="top-filter-search-second" id="secondFilter">
                    <div class="top-filter-search-second-filter">
                        <img src="{{ url_for('static', filename='images/filter.png') }}" width="10px" height="10px" alt="Settings Logo">
                    </div>
                    <div class="top-filter-search-second-product" onclick="addProduct()" id="addProduct">
                        Add Product
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <img class="side-logo" src="{{ url_for('static', filename='images/elite-gold-logo.png') }}">
            <div class="side-menu">
                <div class="side-menu-dashboard" onclick="section('Dashboard'); dashboardRequest()">
                    <img src="{{ url_for('static', filename='images/dashboard.png') }}" width="24px" height="24px" alt="Logout Icon" style="margin-left: 10px">
                    <span style="margin-left: 15px">Dashboard</span>
                </div>
                <div class="side-menu-order" onclick="section('Orders'); ordersRequest()">
                    <img src="{{ url_for('static', filename='images/order.png') }}" width="24px" height="24px" alt="Logout Icon" style="margin-left: 10px">
                    <span style="margin-left: 15px">Orders</span>
                </div>
                <div class="side-menu-products" onclick="section('Products'); productsRequest()">
                    <img src="{{ url_for('static', filename='images/products.png') }}" width="24px" height="24px" alt="Logout Icon" style="margin-left: 10px">
                    <span style="margin-left: 15px">Products</span>
                </div>
                <div class="side-menu-inventory" onclick="section('Inventory'); inventoryRequest()">
                    <img src="{{ url_for('static', filename='images/inventory.png') }}" width="24px" height="24px" alt="Logout Icon" style="margin-left: 10px">
                    <span style="margin-left: 15px">Inventory</span>
                </div>
                <div class="side-menu-users" onclick="section('Users'); usersRequest()">
                    <img src="{{ url_for('static', filename='images/dashboard.png') }}" width="24px" height="24px" alt="Logout Icon" style="margin-left: 10px">
                    <span style="margin-left: 15px">Users</span>
                </div>
            </div>
            <div class="side-logout" onclick="logout()">
                <div class="logout-button">
                    <img src="{{ url_for('static', filename='images/logout.png') }}" width="16px" height="16px" alt="Logout Icon">
                    <span style="margin-left: 10px">Logout</span>
                </div>
            </div>
        </div>
        <div class="content" id="content">
            <div class="section dashboard" data-id="Dashboard">
                {% include "dashboard.html" %}
            </div>
            <div class="section orders" data-id="Orders">
                {% include "orders.html" %}
            </div>
            <div class="section products" data-id="Products">
                {% include "products.html" %}
            </div>
            <div class="section inventory" data-id="Inventory">
                {% include "inventory.html" %}
            </div>
            <div class="section users" data-id="Users">
                {% include "users.html" %}
            </div>
        </div>
        {% include "add.html" %}
    </div>
    <div class="popups">
        {% include "popup.html" %}
    </div>
</body>
</html>
<script>
    section('{{banner}}');
    const endDate = new Date();
    const startDate = new Date();
    startDate.setDate(startDate.getDate() - 7);
    document.getElementById('startdate').value = startDate.toISOString().split('T')[0];
    document.getElementById('enddate').value = endDate.toISOString().split('T')[0];
    dashboardRequest();
</script>