<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/orders.css') }}" />
<script src="{{ url_for('static', filename='java/orders.js') }}"></script>
<div class="orders">
  <div class="list">
    <h3>Campus Order Summary</h3>
    <p>Recent orders for Auckland Campus.</p>
    <div class="header">
      <div>Order ID</div>
      <div>Date</div>
      <div>Promotion</div>
      <div>Total</div>
      <div>Status</div>
    </div>
    <div class="data" id="orders_container">
      {% for order in orders %}
        <div class="value">
          <div>{{ order.id }}</div>
          <div>{{ order.date }}</div>
          <div>{{ order.percentage }}%</div>
          <div>{{ order.amount }}</div>
          <div class="{% if order.status == 'Completed' %} completed{% elif order.status == 'Cancelled' %} cancelled {% elif order.status == 'Pending' %} pending {% elif order.status == 'Refunded' %} refunded{% endif %}">{{ order.status }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="download">
      Download PDF
  </div>
</div>