<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/popup.css') }}" />
<script src="{{ url_for('static', filename='java/popup.js') }}"></script>
<script>
    const API_URL = "{{ api_url }}";
</script>
<div class="overlay upload" data-id="upload">
        <div class="top">
            <h3>Upload files</h3>
            <img onclick="CloseOverlay()" src="{{ url_for('static', filename='images/close.png') }}"  width="30px" height="30px"  alt="Close Logo" style="cursor: pointer;" >
        </div>
        <div class="submit_form_file">
            <div id="drop-area">
                <img src="{{ url_for('static', filename='images/upload.png') }}"  width="80px" height="80px"  alt="Upload Logo" style="margin-top: 10px;">
                <h2 style="font-weight: lighter;">Drop files here</h2>
                <p>Supported format: PNG & JPG</p>
                <h5 style="margin: 10px;">OR</h5>
                <input type="file" id="fileElem" multiple style="display:none"/>
                <button onclick="document.getElementById('fileElem').click()" style=" background-color: white; border: 0; color:#E29BA3FF ; cursor: pointer;">Browse files</button>
                <div id="file-list">. . . . . . . . . .</div>
            </div>
        </div>
        <div class="bottom">
            <div class="button" onclick="CloseOverlay()">
                Cancel
            </div>
            <div class="button">
                Upload
            </div>
        </div>
</div>
<div class="overlay transfer" data-id="transfer">
    <div class="top">
        <h2>Transfer Stock</h2>
    </div>
    <div class="middle">
        <div class="direction">
            <h5>Direction</h5>
                            <select id="transferCampus" class="campus">
                                <option value="all">Store-Campus</option>
                                <option value="wellington">Wellington</option>
                                <option value="hamilton">Hamilton</option>
                                <option value="auckland">Auckland</option>
                            </select>
        </div>
        <div class="quantity">
            <div class="title">
                Quantity
            </div>
            <input id="transferQuantity" type="number" class="input" min="0" value="0">
        </div>
        <div class="reason">
            <h5>Reason</h5>
            <textarea class="textarea" id="transferReason"></textarea>
        </div>
    </div>
    <div class="bottom">
        <div class="button" onclick="transferStock()">
            Save
        </div>
        <div class="button" onclick="CloseOverlay()">
            Cancel
        </div>
    </div>
</div>
<div class="overlay add" data-id="add">
    <div class="top">
        <h2>Add Stock</h2>
    </div>
    <div class="middle">
        <div class="quantity">
            <div class="title">
                Quantity
            </div>
            <input id="addQuantity" type="number" class="input" min="0" value="0">
        </div>
    </div>
    <div class="bottom">
        <div class="button" onclick="addStock()">
            Add
        </div>
        <div class="button" onclick="CloseOverlay()">
            Cancel
        </div>
    </div>
</div>
<div class="overlay delete" data-id="delete">
    <div class="top">
        <h2>Delete Item</h2>
    </div>
    <div class="middle">
        Are you sure
        <br>
        want to delete
        <br>
        this item?
    </div>
    <div class="bottom">
        <div class="button" onclick="deleteProduct()">
            Delete
        </div>
        <div class="button" onclick="CloseOverlay()">
            Cancel
        </div>
    </div>
</div>