<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}" />
<script src="{{ url_for('static', filename='java/products.js') }}"></script>
<div class="products">
  <div class="header">
    <div>Image</div>
    <div>Products</div>
    <div>Price</div>
    <div>Campus</div>
  </div>
  <div class="list" id="products_container">
    {% for product in products %}
      <div class="data">
    {% if product.image_gallery %}
       <img src="{{ url_for('admin.serve_azure_image', filename=product.image_gallery[0]) }}" 
       class="card-img-top" 
       alt="{{ product.name }}"
       style="width: 140px; height: 110px;">
    {% else %}
       <img src="{{ url_for('static', filename='images/placeholder1.jpg') }}" class="card-img-top" alt="No image">
   {% endif %}
          <div>{{ product.name }}</div>
          <div>{{ product.price }}%</div>
          <div>{{ product.campus }}</div>
          <div class="buttons">
              <div class="edit" onclick="editProduct('{{product.id}}')">Edit</div>
              <div class="delete" onclick="overlay('delete');deleteID('{{product.id}}')">Delete</div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>