<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/users.css') }}" />
<script src="{{ url_for('static', filename='java/users.js') }}"></script>
<div class="users">
  <h3>User List</h3>
  <div class="listed">
    <div class="header">
      <div style="border-top-left-radius: 10px;"></div>
      <div>User ID</div>
      <div>Username</div>
      <div>Email</div>
      <div style="border-top-right-radius: 10px;">Password</div>
    </div>
    <div class="containers" id="users_container">
      {% for user in users %}
        <div class="data">
          <div style=" justify-content: center;">
            <input type="checkbox" name="select" value="no">
          </div>
          <div>{{ user.id }}</div>
          <div style="align-items: center; display: flex;">
            <img style="width: 40px; height: 40px; margin-right: 10px; border-radius: 100px;" src="{{ url_for('static', filename='images/dummy.png') }}">
            <span>{{ user.name }}</span>
          </div>
          <div>{{ user.email }}</div>
          <div>{{ user.password }}%</div>
        </div>
      {% endfor %}
    </div>
  </div>
  <h3 id="user-banner">Add User</h3>
  <div class="edit">
    <div class="containers">
      Name
      <input id="userName" type="text" placeholder="Username">
    </div>
    <div class="containers">
      Email
      <input id="userEmail" type="text" placeholder="Email">
    </div>
  </div>
  <div class="edit">
    <div class="containers">
      Campus
      <select id="userCampus" name="campus">
        <option value="">-- Campus Option --</option>
        <option value="1">Auckland</option>
        <option value="2">Hamilton</option>
        <option value="3">Wellington</option>
      </select>
    </div>
    <div class="containers">
      Role
      <select id="userRole" name="role">
        <option value="">-- Role Option --</option>
        <option value="1">Student</option>
        <option value="2">Admin</option>
      </select>
    </div>
  </div>
  <div style="display: flex; width: 1000px; justify-content: end; margin-top: 30px;">
    <input id="userActive" type="checkbox" name="select" value="no"> Inactive
  </div>
  <div class="edit" style=" grid-template-columns: 1fr 1fr 1fr;">
    <div class="containers">
      Start Date
      <input id="userStart" type="date" name="startdate" value="">
    </div>
    <div class="containers">
      End Date
      <input id="userEnd" type="date" name="enddate"value="">
    </div>
    <div class="buttons">
      <div onclick="saveUser()" id="user-button">Add</div>
      <div onclick="resetUserForm()">Cancel</div>
    </div>
  </div>
  <div class="edit">
    <div class="containers">
      Password
      <input id="userPassword" type="password" placeholder="Password">
    </div>
  </div>
  <input id="userId" type="number" style="display: none;">
</div>